In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("konyakart_turler.csv",sep=";")

In [3]:
df

      yıl      ay      kart_tipi  kart_kullanim_sayisi
0    2019    ocak    65 YAŞ ÜSTÜ                510326
1    2019    ocak          DİĞER                370107
2    2019    ocak          BASIN                  7670
3    2019    ocak        ENGELLİ                    79
4    2019    ocak  GÖRME ENGELLİ                  1434
..    ...     ...            ...                   ...
618  2022  aralik         MUHTAR                   641
619  2022  aralik    SOSYAL KART                 35372
620  2022  aralik    TAM ABONMAN                455490
621  2022  aralik       TAM KART               3929756
622  2022  aralik         ZABITA                  1032

[623 rows x 4 columns]

In [4]:
df.to_csv("kolay.csv")

In [6]:
kart = [
    "65 YAŞ ÜSTÜ",
    "DİĞER",
    "BASIN",
    "ENGELLİ",
    "GÖRME ENGELLİ",
    "GÖRME ENGELLİ REFAKATLİ",
    "İNDİRİMLİ",
    "KAMU",
    "MUHTAR",
    "SOSYAL KART",
    "TAM ABONMAN",
    "TAM KART"
]

for x in df["kart_tipi"].index:
    if x%12==0:
        if df["kart_tipi"][x]=="65 YAŞ ÜSTÜ":
            print(True)
        else:
            print(False)

True
True
True
True
True
True
True
True
True
True
True
True
True
False
False
False
False
False
False
False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False
False
False
False
True
False
False
False
False
False
False
False
False
False
False
False
False
False