In [77]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("153_202203_bisikletparkalanlari.csv",sep=";")

In [79]:
df.head(100)

,name,wkt
0,KAMPÜS 02A BOSNA HERSEK,POINT Z (32.51877984190408 38.00940102091862 0)
1,KAMPÜS 02B BOSNA HERSEK,POINT Z (32.51938029678481 38.00947915130062 0)
2,KAMPÜS 03 BUZLUKBAŞI,POINT Z (32.51973693158448 38.00250371121295 0)
3,KAMPÜS 04 FIRAT CADDESİ,POINT Z (32.5184303520723 37.99464895249642 0)
4,KAMPÜS 05 PİRİ REİS,POINT Z (32.51770962074744 37.98915648742838 0)
...,...,...
95,34 İŞ BANKASI ARKA SKAK,POINT Z (32.49465972877705 37.87218754063718 0)
96,35 TAHİR PAŞA CAMİ,POINT Z (32.49128931814587 37.86994310594483 0)
97,36 BELEDİYE İŞ HANI,POINT Z (32.4881867549941 37.87683976313289 0)
98,37 BELEDİYE İŞ HANI YANI KOSKİ,POINT Z (32.48856621683407 37.87689081297689 0)
99,38 OTEL BERA,POINT Z (32.48303686075474 37.87750085663842 0)

In [80]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105 entries, 0 to 104
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    105 non-null    object
 1   wkt     105 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB

In [81]:
df["wkt"]=df["wkt"].astype("string")

In [82]:
for a in df["wkt"].index:
    df["wkt"][a]=df["wkt"][a].replace("POINT Z ","")

In [83]:
df

                             name                                      wkt
0         KAMPÜS 02A BOSNA HERSEK  (32.51877984190408 38.00940102091862 0)
1         KAMPÜS 02B BOSNA HERSEK  (32.51938029678481 38.00947915130062 0)
2            KAMPÜS 03 BUZLUKBAŞI  (32.51973693158448 38.00250371121295 0)
3         KAMPÜS 04 FIRAT CADDESİ   (32.5184303520723 37.99464895249642 0)
4             KAMPÜS 05 PİRİ REİS  (32.51770962074744 37.98915648742838 0)
..                            ...                                      ...
100                     39 MALİYE  (32.48518569877668 37.87558938462282 0)
101  40 A HAZIM ULUŞAHİN ÖN TARAF  (32.48380512578692 37.87695844923937 0)
102  40 B HAZIM ULUŞAHİN ÖN TARAF  (32.48472198048234 37.87742569125906 0)
103   41 ENTEPE ALIŞVERİŞ MERKEZİ  (32.49925408062857 37.88663126838174 0)
104                   42 YHT GARI   (32.49942007647063 37.8975597348764 0)

[105 rows x 2 columns]

In [84]:
df["boylam"]=df["wkt"]
df["enlem"]=df["wkt"]

In [85]:
df

,name,wkt,boylam,enlem
0,KAMPÜS 02A BOSNA HERSEK,(32.51877984190408 38.00940102091862 0),(32.51877984190408 38.00940102091862 0),(32.51877984190408 38.00940102091862 0)
1,KAMPÜS 02B BOSNA HERSEK,(32.51938029678481 38.00947915130062 0),(32.51938029678481 38.00947915130062 0),(32.51938029678481 38.00947915130062 0)
2,KAMPÜS 03 BUZLUKBAŞI,(32.51973693158448 38.00250371121295 0),(32.51973693158448 38.00250371121295 0),(32.51973693158448 38.00250371121295 0)
3,KAMPÜS 04 FIRAT CADDESİ,(32.5184303520723 37.99464895249642 0),(32.5184303520723 37.99464895249642 0),(32.5184303520723 37.99464895249642 0)
4,KAMPÜS 05 PİRİ REİS,(32.51770962074744 37.98915648742838 0),(32.51770962074744 37.98915648742838 0),(32.51770962074744 37.98915648742838 0)
...,...,...,...,...
100,39 MALİYE,(32.48518569877668 37.87558938462282 0),(32.48518569877668 37.87558938462282 0),(32.48518569877668 37.87558938462282 0)
101,40 A HAZIM ULUŞAHİN ÖN TARAF,(32.48380512578692 37.87695844923937 0),(32.48380512578692 37.87695844923937 0),(32.48380512578692 37.87695844923937 0)
102,40 B HAZIM ULUŞAHİN ÖN TARAF,(32.48472198048234 37.87742569125906 0),(32.48472198048234 37.87742569125906 0),(32.48472198048234 37.87742569125906 0)
103,41 ENTEPE ALIŞVERİŞ MERKEZİ,(32.49925408062857 37.88663126838174 0),(32.49925408062857 37.88663126838174 0),(32.49925408062857 37.88663126838174 0)
104,42 YHT GARI,(32.49942007647063 37.8975597348764 0),(32.49942007647063 37.8975597348764 0),(32.49942007647063 37.8975597348764 0)

In [86]:
for a in df["wkt"].index:
    y=df["wkt"][a].split(" ")
    df["enlem"][a]=y[1]
    df["boylam"][a]=y[0]

In [87]:
for a in df["boylam"].index:
    df["boylam"][a]=df["boylam"][a].replace("(","")

In [88]:
df

,name,wkt,boylam,enlem
0,KAMPÜS 02A BOSNA HERSEK,(32.51877984190408 38.00940102091862 0),32.51877984190408,38.00940102091862
1,KAMPÜS 02B BOSNA HERSEK,(32.51938029678481 38.00947915130062 0),32.51938029678481,38.00947915130062
2,KAMPÜS 03 BUZLUKBAŞI,(32.51973693158448 38.00250371121295 0),32.51973693158448,38.00250371121295
3,KAMPÜS 04 FIRAT CADDESİ,(32.5184303520723 37.99464895249642 0),32.5184303520723,37.99464895249642
4,KAMPÜS 05 PİRİ REİS,(32.51770962074744 37.98915648742838 0),32.51770962074744,37.98915648742838
...,...,...,...,...
100,39 MALİYE,(32.48518569877668 37.87558938462282 0),32.48518569877668,37.87558938462282
101,40 A HAZIM ULUŞAHİN ÖN TARAF,(32.48380512578692 37.87695844923937 0),32.48380512578692,37.87695844923937
102,40 B HAZIM ULUŞAHİN ÖN TARAF,(32.48472198048234 37.87742569125906 0),32.48472198048234,37.87742569125906
103,41 ENTEPE ALIŞVERİŞ MERKEZİ,(32.49925408062857 37.88663126838174 0),32.49925408062857,37.88663126838174
104,42 YHT GARI,(32.49942007647063 37.8975597348764 0),32.49942007647063,37.8975597348764

In [89]:
df=df.drop(columns="wkt")

In [90]:
df

                             name             boylam              enlem
0         KAMPÜS 02A BOSNA HERSEK  32.51877984190408  38.00940102091862
1         KAMPÜS 02B BOSNA HERSEK  32.51938029678481  38.00947915130062
2            KAMPÜS 03 BUZLUKBAŞI  32.51973693158448  38.00250371121295
3         KAMPÜS 04 FIRAT CADDESİ   32.5184303520723  37.99464895249642
4             KAMPÜS 05 PİRİ REİS  32.51770962074744  37.98915648742838
..                            ...                ...                ...
100                     39 MALİYE  32.48518569877668  37.87558938462282
101  40 A HAZIM ULUŞAHİN ÖN TARAF  32.48380512578692  37.87695844923937
102  40 B HAZIM ULUŞAHİN ÖN TARAF  32.48472198048234  37.87742569125906
103   41 ENTEPE ALIŞVERİŞ MERKEZİ  32.49925408062857  37.88663126838174
104                   42 YHT GARI  32.49942007647063   37.8975597348764

[105 rows x 3 columns]

In [91]:
df["name"]=df["name"].astype("string")

In [92]:
df["id"]=df["name"]

In [93]:
df

,name,boylam,enlem,id
0,KAMPÜS 02A BOSNA HERSEK,32.51877984190408,38.00940102091862,KAMPÜS 02A BOSNA HERSEK
1,KAMPÜS 02B BOSNA HERSEK,32.51938029678481,38.00947915130062,KAMPÜS 02B BOSNA HERSEK
2,KAMPÜS 03 BUZLUKBAŞI,32.51973693158448,38.00250371121295,KAMPÜS 03 BUZLUKBAŞI
3,KAMPÜS 04 FIRAT CADDESİ,32.5184303520723,37.99464895249642,KAMPÜS 04 FIRAT CADDESİ
4,KAMPÜS 05 PİRİ REİS,32.51770962074744,37.98915648742838,KAMPÜS 05 PİRİ REİS
...,...,...,...,...
100,39 MALİYE,32.48518569877668,37.87558938462282,39 MALİYE
101,40 A HAZIM ULUŞAHİN ÖN TARAF,32.48380512578692,37.87695844923937,40 A HAZIM ULUŞAHİN ÖN TARAF
102,40 B HAZIM ULUŞAHİN ÖN TARAF,32.48472198048234,37.87742569125906,40 B HAZIM ULUŞAHİN ÖN TARAF
103,41 ENTEPE ALIŞVERİŞ MERKEZİ,32.49925408062857,37.88663126838174,41 ENTEPE ALIŞVERİŞ MERKEZİ
104,42 YHT GARI,32.49942007647063,37.8975597348764,42 YHT GARI

In [94]:
for a in df["name"].index:
    aa=a+1
    df["id"][a]= str(aa)

In [95]:
id = df.pop('id')
df.insert(0, 'id', id)

id = df.pop('enlem')
df.insert(2, 'enlem', id)

In [96]:
df

      id                          name              enlem             boylam
0      1       KAMPÜS 02A BOSNA HERSEK  38.00940102091862  32.51877984190408
1      2       KAMPÜS 02B BOSNA HERSEK  38.00947915130062  32.51938029678481
2      3          KAMPÜS 03 BUZLUKBAŞI  38.00250371121295  32.51973693158448
3      4       KAMPÜS 04 FIRAT CADDESİ  37.99464895249642   32.5184303520723
4      5           KAMPÜS 05 PİRİ REİS  37.98915648742838  32.51770962074744
..   ...                           ...                ...                ...
100  101                     39 MALİYE  37.87558938462282  32.48518569877668
101  102  40 A HAZIM ULUŞAHİN ÖN TARAF  37.87695844923937  32.48380512578692
102  103  40 B HAZIM ULUŞAHİN ÖN TARAF  37.87742569125906  32.48472198048234
103  104   41 ENTEPE ALIŞVERİŞ MERKEZİ  37.88663126838174  32.49925408062857
104  105                   42 YHT GARI   37.8975597348764  32.49942007647063

[105 rows x 4 columns]

In [97]:
name_column = df.pop("name")
df.insert(1, 'bisiklet_park_alanları_isimleri', name_column)

In [98]:
df

      id bisiklet_park_alanları_isimleri              enlem             boylam
0      1         KAMPÜS 02A BOSNA HERSEK  38.00940102091862  32.51877984190408
1      2         KAMPÜS 02B BOSNA HERSEK  38.00947915130062  32.51938029678481
2      3            KAMPÜS 03 BUZLUKBAŞI  38.00250371121295  32.51973693158448
3      4         KAMPÜS 04 FIRAT CADDESİ  37.99464895249642   32.5184303520723
4      5             KAMPÜS 05 PİRİ REİS  37.98915648742838  32.51770962074744
..   ...                             ...                ...                ...
100  101                       39 MALİYE  37.87558938462282  32.48518569877668
101  102    40 A HAZIM ULUŞAHİN ÖN TARAF  37.87695844923937  32.48380512578692
102  103    40 B HAZIM ULUŞAHİN ÖN TARAF  37.87742569125906  32.48472198048234
103  104     41 ENTEPE ALIŞVERİŞ MERKEZİ  37.88663126838174  32.49925408062857
104  105                     42 YHT GARI   37.8975597348764  32.49942007647063

[105 rows x 4 columns]

In [99]:
df.to_csv('bisiklet_park_alanları_csv.csv', index=False)
df.to_excel('bisiklet_park_alanları_excel.xlsx', index=False)